:root {
    --base-font-size: 16px;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: var(--base-font-size);
    font-family: 'Merienda', cursive;
    overflow: auto;
    min-height: 100vh;
    min-height: 100dvh;
    @apply bg-white dark:bg-black contrast:bg-black dark:text-white contrast:text-contrast-yellow;
}

#__nuxt {
    min-height: 100vh;
}

#__nuxt > * {
    min-height: 100vh;
}

button {
    cursor: pointer;
}

.action-button {
    text-transform: uppercase;
    font-family: 'Merienda', cursive;
    font-weight: bold;
    padding: 0.5em 3em;
    @apply rounded-sm;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

.collapse-button {
    @apply bg-main-900 text-white border-transparent font-normal w-full contrast:bg-contrast-yellow contrast:text-black;
}

.contrast {
    input[type="datetime-local"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }
}

.full-w {
    width: 100% !important;
}

.triangle-top-left {
    top: 0;
    left: 0;
    width: min(40vw, 500px);
    aspect-ratio: 1;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    @apply bg-main-900 absolute;
}

 .triangle-bottom-right {
    bottom: 0;
    right: 0;
    width: min(40vw, 500px);
    aspect-ratio: 1;
    clip-path: polygon(100% 100%, 0 100%, 100% 0);
    @apply bg-main-900 absolute;
}

.content {
    @apply mt-10 mx-auto z-10 min-h-screen relative max-w-[1000px] px-4;
}

.secret-form-section {
    z-index: 2;
    @apply mt-20 flex items-center relative justify-center;
}


h1 {
    @apply text-3xl font-bold;
}

.input-error {
    @apply text-sm mt-2 text-center text-red-500 dark:text-red-400;
}

.form-input-wrapper:has(.input-error) input, .form-input-wrapper:has(.input-error) textarea {
    @apply border-red-500 dark:border-red-400;
}

.collapse-content .form-input {
    @apply bg-white text-black dark:text-white contrast:text-white;
}

.collapse-content svg {
    @apply text-black dark:text-white contrast:text-white;
}

.messages-collapse .collapse-button, .messages-collapse .collapse-content {
    @apply border-2 border-gray-300 contrast:border-black dark:border-gray-600;
}

